<?xml version="1.0" encoding="UTF-8"?>

<?if $(sys.BUILDARCH)=x64?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?ifndef var.Version?>
    <?error Version must be defined. Ex. wixl -D Version=0.0.1?>
  <?endif?>

  <?ifndef var.Path?>
    <?error Path must be defined. Ex. wixl -D Path=dist/vumm_windows_amd64/vumm.exe?>
  <?endif?>

  <Product Id="*"
           Name="Venice Unleashed Mod Manager"
           Language="1033"
           Manufacturer="BF3: Reality Mod Team"
           Version="$(var.Version)"
           UpgradeCode="59ba0cfa-25ad-4ba3-a97e-6d79a85fca17">

    <Package Id="*"
             Keywords="Installer"
             Description="Venice Unleashed Mod Manager Installer"
             Manufacturer="BF3: Reality Mod Team"
             InstallerVersion="310"
             Compressed="yes"
             InstallScope="perMachine"/>

    <Media Id="1" Cabinet="vumm.cab" EmbedCab="yes"/>

    <Upgrade Id="59ba0cfa-25ad-4ba3-a97e-6d79a85fca17">
      <UpgradeVersion Minimum="$(var.Version)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED"/>
      <UpgradeVersion Minimum="0.0.0" Maximum="$(var.Version)" IncludeMinimum="yes" IncludeMaximum="no"
                      Property="OLDERVERSIONBEINGUPGRADED"/>
    </Upgrade>
    <Condition Message="A newer version of Venice Unleashed Mod Manager is already installed.">NOT NEWERVERSIONDETECTED</Condition>

    <!-- There's currently no use case for control-panel based repair or modify -->
    <Property Id="ARPNOREPAIR" Value="1"/>
    <Property Id="ARPNOMODIFY" Value="1"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLDIR" Name="vumm"/>
      </Directory>

      <Component Id="ProductEnv" Guid="11d9239b-615a-4768-b0a0-49dce9d7f8e8">
        <Environment Id="PATH"
                     Name="PATH"
                     Value="[INSTALLDIR]"
                     Permanent="no"
                     Part="last"
                     Action="set"
                     System="yes"/>
      </Component>
    </Directory>

    <Component Id="ProductFiles" Guid="*" Directory="INSTALLDIR">
      <File Id="ExecutableFile" Name="vumm.exe" KeyPath="yes" Source="$(var.Path)"/>
    </Component>

    <Feature Id="Complete" Level="1">
      <ComponentRef Id="ProductFiles"/>
      <ComponentRef Id="ProductEnv"/>
    </Feature>

    <InstallExecuteSequence>
      <WriteEnvironmentStrings/>
      <RemoveExistingProducts Before="InstallInitialize"/>
    </InstallExecuteSequence>
  </Product>
</Wix>